c 1 = S - ser sócio
c 2 = B - ter bigode
c 3 = C - ser casado
c 4 = R - ser de Ribeiro
c 5 = A - ter camisola amarela
c 6 = D - ver jogos Domingo
p cnf 6 8
-1 -2 3 0
-1 4 5 0
-1 -3 -6 0
-1 -6 4 0
-4 1 0
-4 6 0
-1 2 -5 0
-1 -4 2 0
c 3a ---------------------------------
c 2 -6 0 
c 3b ---------------------------------
c 1 0
c 5 0
c 3 0
c 3c ---------------------------------
c -1 -4 0
c 3d ---------------------------------
c -1 -3 2 0
c 3e ---------------------------------
c -6 1 0